* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/background.jpg);
}

.container {
  width: 50%;
  display: flex;
}

.matchup {
  justify-content: space-between;
}

.matchup img {
  width: 250px;
  height: auto;
}

.matchup .computer-img {
  transform: scaleX(-1);
}

.selection {
  justify-content: center;
  gap: 3rem;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  transition: 0.1s ease-in-out;
  padding: 25px;
}

button:active {
  transform: scale(0.9);
}

.selection img {
  width: 100px;
  height: 100px;
}

.player-side,
.computer-side {
 display: flex;
 gap: 1rem;
}

 .player-score,
 .computer-score,
 .move-history,
 .output {
  text-align: center;
 }

 .move-history,
 .output {
  border: 5px solid #eee;
  border-radius: 20px;
 }

 .move-history {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 10px;
 }

 .output {
  height: 250px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
 }